<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lammel.lob">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationAnalytics"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
      installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Level1Onboarding"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".Level1Problemdefinition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level1_ProblemBeschreibung"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Level1ProblemBeschreibungDank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level1Zieldefinition"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Level1ZielVerwahren"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2Loesungswege"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Level2Veraenderung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2Ausnahmen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2VeraenderungJa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2HypoLoesung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2Phantasiereise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2Universalloesung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2UniversalloesungAnekdote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2UniversalloesungWeiter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Level2Exitstrategie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2KeineLoesung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wunderbar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Staerkeinsel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level3UebungStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level4InselDesSehenden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level4InselFrage1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".Verhalten"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Kompliment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ressource"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UebersichtTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level4SonneDerErkenntnis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sonne8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SonneDerErkenntnisStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mantra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ende"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rueckblick"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Neuorientierung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuZiel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZehnTage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuHausaufgabe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2WeiterGehts"
            android:screenOrientation="portrait" />

        <fragment android:name=".Footer_Fragment" />

        <activity
            android:name=".Level2Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level1Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level3Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level4Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level5Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pause"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PauseZwischen2und3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PauseZwischen4und5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level4InselFrage2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name=".Level4InselFrage3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".Level4InselFrage4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <service android:name=".BroadcastService" />
        <service android:name=".AlarmService" />

        <activity
            android:name=".MenuIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ende2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lob"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeringeEntwicklung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level2AusnahmenWeiter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Onboarding2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HausaufgabeTagebuch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HausaufgabeMuenzwurf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HausaufgabeWuerfel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuImpressum"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tagebuch"
            android:screenOrientation="portrait" />
    </application>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.gms.analytics.globalConfigResource"

        android:resource="@xml/global_tracker"/>

</manifest>