<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lammel.lob">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Level1Onboarding" />
        <activity android:name=".Level1Problemdefinition" />
        <activity
            android:name=".Level1_ProblemBeschreibung"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Level1ProblemBeschreibungDank" />
        <activity
            android:name=".Level1Zieldefinition"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Level1ZielVerwahren" />
        <activity
            android:name=".Level2Loesungswege"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Level2NeuerWeg" />
        <activity android:name=".Level2Veraenderung" />
        <activity android:name=".Level2Ausnahmen" />
        <activity android:name=".Level2VeraenderungJa" />
        <activity android:name=".Level2HypoLoesung" />
        <activity android:name=".Level2Phantasiereise" />
        <activity android:name=".Level2Universalloesung" />
        <activity android:name=".Level2UniversalloesungAnekdote" />
        <activity
            android:name=".Level2UniversalloesungWeiter"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Level2Exitstrategie" />
        <activity android:name=".Level2KeineLoesung" />
        <activity android:name=".Wunderbar" />
        <activity android:name=".Staerkeinsel" />
        <activity android:name=".Level3UebungStart" />
        <activity android:name=".Level4InselDesSehenden" />
        <activity android:name=".Level4InselFragen" />
        <activity android:name=".Verhalten" />
        <activity android:name=".Kompliment" />
        <activity android:name=".Ressource" />
        <activity android:name=".UebersichtTable" />
        <activity android:name=".Level4SonneDerErkenntnis" />
        <activity android:name=".Sonne1" />
        <activity android:name=".Sonne2" />
        <activity android:name=".Sonne3" />
        <activity android:name=".Sonne4" />
        <activity android:name=".Sonne5" />
        <activity android:name=".Sonne6" />
        <activity android:name=".Sonne7" />
        <activity android:name=".Sonne8" />
        <activity android:name=".SonneDerErkenntnisStart" />
        <activity android:name=".Level2ZieldefinitionNeu" />
        <activity android:name=".Mantra" />
        <activity android:name=".Ende" />
        <activity android:name=".Rueckblick" />
        <activity android:name=".Neuorientierung" />
        <activity android:name=".MenuZiel" />
        <activity android:name=".ZehnTage" />
        <activity android:name=".MenuHausaufgabe" />
        <activity android:name=".Level2WeiterGehts" />

        <fragment android:name=".Footer_Fragment" />

        <activity android:name=".Level2Start" />
        <activity android:name=".Level1Start" />
        <activity android:name=".Level3Start" />
        <activity android:name=".Level4Start" />
        <activity android:name=".Level5Start" />
        <activity android:name=".Pause" />
        <activity android:name=".Timer"></activity>
    </application>

</manifest>