<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lammel.lob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Level1Onboarding" />
        <activity android:name=".Level1Problemdefinition" />
        <activity android:name=".ProblemBeschreibung" />
        <activity android:name=".Level1ProblemBeschreibungDank" />
        <activity android:name=".Level1Zieldefinition" />
        <activity android:name=".Level1ZielVerwahren" />
        <activity android:name=".Level2Loesungswege" />
        <activity android:name=".Level2Veraenderung" />
        <activity android:name=".Level2Ausnahmen" />
        <activity android:name=".Level2VeraenderungJa" />
        <activity android:name=".Level2HypoLoesung" />
        <activity android:name=".Level2Phantasiereise" />
        <activity android:name=".Level2Universalloesung" />
        <activity android:name=".Level2UniversalloesungAnekdote" />
        <activity android:name=".Level2UniversalloesungWeiter" />
        <activity android:name=".Level2Exitstrategie" />
        <activity android:name=".Wunderbar" />
        <activity android:name=".Staerkeinsel" />
        <activity android:name=".Level3UebungStart" />
        <activity android:name=".Level4Uebersicht" />
        <activity android:name=".Level4InselDesSehendenStart" />
        <activity android:name=".Level4InselFrage1" />
        <activity android:name=".Verhalten" />
        <activity android:name=".Kompliment" />
        <activity android:name=".Ressource" />
        <activity android:name=".UebersichtTable" />
        <activity android:name=".Level4InselFrage2" />
        <activity android:name=".Level4InselFrage3" />
        <activity android:name=".Level4InselFrage4" />
        <activity android:name=".Level4SonneDerErkenntnis"></activity>
    </application>

</manifest>